<main class="h-screen w-screen grid place-content-center gap-4 bg-gray-100">
  <section class="w-96 flex flex-col gap-4 card bg-white drop-shadow-md p-4">
    <div class="flex flex-col gap-2">
      <p class="text-xl font-bold">
        {{ title }}
      </p>
      <p class="text-lg font-bold">Login</p>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLoginWithEmail()"
      class="flex flex-col gap-4"
    >
      <div class="flex flex-col gap-2">
        <input
          class="input input-bordered"
          type="email"
          [class.border-red-500]="
            loginForm.controls.email.invalid && loginForm.controls.email.touched
          "
          placeholder="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <span
          class="label-text-alt text-red-500"
          *ngIf="
            loginForm.controls.email.invalid &&
            loginForm.controls.email.touched &&
            loginForm.controls.email.hasError('required')
          "
        >
          Email is required
        </span>
      </div>
      <app-button type="submit" [loading]="isLoading"> Login </app-button>
    </form>
    <p class="font-bold text-2xl text-center">OR</p>
    <auth-social-login />
  </section>
</main>
