<div class="flex flex-col items-start gap-2 w-full">
  <div class="flex justify-between w-full">
    <p class="font-bold text-lg flex-1">Vehicle</p>
    <a class="btn btn-outline btn-sm btn-primary" [routerLink]="['add']">
      <i class="bi bi-plus font-bold text-xl"></i>
      Add Vehicle
    </a>
  </div>
  <app-loading-view
    [loading]="isLoading"
    class="w-full flex items-center justify-center"
  >
    <div class="overflow-x-auto w-full border rounded-md">
      <table class="table table-xs">
        <thead>
          <tr>
            <th class="font-bold text-sm text-black">Name</th>
            <th class="font-semibold text-black">Identity</th>
            <th class="font-semibold capitalize text-black">Fuel Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>{{ vehicle.name }}</td>
            <td>{{ vehicle.identity }}</td>
            <td class="capitalize">{{ vehicle.fuel }}</td>

            <td class="flex items-center justify-end">
              <div class="flex items-center">
                <a
                  [routerLink]="[vehicle.id]"
                  class="btn btn-sm btn-ghost btn-primary"
                >
                  <i class="bi bi-eye"></i>
                </a>
                <button class="btn btn-sm btn-ghost btn-primary">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-sm btn-ghost btn-error">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-loading-view>
</div>
