<div class="text-sm breadcrumbs w-full text-wrap text-ellipsis">
  <ul class="w-full flex items-start flex-wrap">
    <li
      class="breadcrumb-item"
      *ngFor="let breadcrumb of breadcrumbs | async; let last = last"
    >
      <a
        *ngIf="!last"
        [routerLink]="breadcrumb.path"
        class="capitalize hover:text-primary max-w-[50px] overflow-hidden whitespace-nowrap text-ellipsis"
      >
        <ng-content *ngIf="breadcrumb.path !== '/'; else icon">
          {{ breadcrumb.label }}
        </ng-content>
        <ng-template #icon>
          <i class="bi bi-house font-extrabold"></i>
        </ng-template>
      </a>
      <span *ngIf="last" class="capitalize">{{ breadcrumb.label }}</span>
    </li>
  </ul>
</div>
